ul {
    list-style: none;
    display: inline;
}
li {
    display: inline-block;
    padding: 5px;
}
.show {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
}
.show span {
    font-size: 1.2em;
    padding-top: 20px;
}
@media only screen and (max-width: 480px){
    .show {
        width: 90%;
        display: block;
    }
    .show span {
        display: block;
    }
    ul {
        display: block;
        padding: 0;
    }
}